.root {
  height: 200px;
}

.header span {
  font-size: xxx-large;
  transform-origin: bottom;
  position: absolute;
  height: 400px;
  width: 50px;
  left: 50;
  top: 5px;
}

.c1 {
  transform: rotate(-36deg);
  color: red;
}

.c2 {
  transform: rotate(-30deg);
  color: blue;
}

.c3 {
  transform: rotate(-24deg);
  color: green;
}

.c4 {
  transform: rotate(-18deg);
  color: yellow;
}

.c5 {
  transform: rotate(-12deg);
  color: purple;
}

.c6 {
  transform: rotate(-6deg);
  color: orange;
}

.c7 {
  transform: rotate(0deg);
  color: pink;
}

.c8 {
  transform: rotate(6deg);
  color: cyan;
}

.c9 {
  transform: rotate(12deg);
  color: magenta;
}

.c10 {
  transform: rotate(18deg);
  color: turquoise;
}

.c11 {
  transform: rotate(24deg);
  color: indigo;
}

.c12 {
  transform: rotate(30deg);
  color: chartreuse;
}

.c13 {
  transform: rotate(36deg);
  color: crimson;
}