.header {
  height: 200px;
  position: relative;
}

.header span {
  font-family: BallonCaps;
  font-size: 64px;
  transform-origin: bottom;
  position: absolute;
  height: 300px;
}

.c1 {
  transform: rotate(-60deg);
  color: red;
}

.c2 {
  transform: rotate(-50deg);
  color: blue;
}

.c3 {
  transform: rotate(-40deg);
  color: green;
}

.c4 {
  transform: rotate(-30deg);
  color: yellow;
}

.c5 {
  transform: rotate(-20deg);
  color: purple;
}

.c6 {
  transform: rotate(-10deg);
  color: orange;
}

.c7 {
  transform: rotate(0deg);
  color: pink;
}

.c8 {
  transform: rotate(10deg);
  color: cyan;
}

.c9 {
  transform: rotate(20deg);
  color: magenta;
}

.c10 {
  transform: rotate(30deg);
  color: turquoise;
}

.c11 {
  transform: rotate(40deg);
  color: indigo;
}

.c12 {
  transform: rotate(50deg);
  color: chartreuse;
}

.c13 {
  transform: rotate(60deg);
  color: crimson;
}